article {
  /*height: 100px;*/
  height: 300px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
#cartelera article{
	margin-top: 20px;
}
.card .card-body{
	padding: 10px !important;
}
.glyphicon {
	font-size: 18px;
}
.card{
	cursor: pointer;
}
.red {
	color:red;
}
.img-movie{
	height: 500px;
	width: 300px;
}
.input-group{
	background-color: white!important;
}
.navbar {
	margin-bottom: 0;
}
textarea{
	width: 100%;
	height: 150px;
	resize: none;
}
.angular-google-map {
             
            height: 300px;
        }

/* Date style*/
 .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

.blue {
  color: blue; 
}
.green{
  color: green; 
}
.red{
  color: red; 
}
.no-padding {
  padding: 0;
}

/* CSS Menu Lanfing page*/

.up{
  position:arelative;
  top: 0;
 
}
.carousel {
  /*position: absolute;*/
  top: 0;
  width: 100%;
}
.navbar-landingpage {
  position:absolute;
  top:0;
  z-index:10;
  width: 100%;
  background-color: rgba(0,0,0,0.0)!important; 
}
.navbar-landingpage li:hover {
  background-color: rgba(255,255,255,0.5);
}
.carousel-caption, .carousel-caption h2{
  padding-top: 0;
  margin-top: 0;
}

/* register */ 
#register {
  background: url('../img/design/register.jpg') fixed center no-repeat;
  background-size:100%;
  width:100%;
  height: 100%;
}

/*
.button-landingpage{
  /*background-color: rgba(250,250,250,0.5);!important
}*/
