article {
  /*height: 100px;*/
  height: 300px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
#cartelera article{
	margin-top: 20px;
}
.card .card-body{
	padding: 10px !important;
}
.glyphicon {
	font-size: 18px;
}
.card{
	cursor: pointer;
}
.red {
	color:red;
}
.img-movie{
	height: 500px;
	width: 300px;
}
.input-group{
	background-color: white!important;
}
.navbar {
	margin-bottom: 0;
}
textarea{
	width: 100%;
	height: 150px;
	resize: none;
}
.angular-google-map {
             
            height: 300px;
        }
