article {
  /*height: 100px;*/
  height: 300px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
#cartelera article{
	margin-top: 20px;
}
.card .card-body{
	padding: 10px !important;
}
.glyphicon {
	font-size: 18px;
}
.card{
	cursor: pointer;
}