<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<ul class="nav nav-tabs text-center" >
				<li role="presentation" class="active col-xs-12  col-md-3"><a href="#/main">Cartelera</a></li>
				<li role="presentation" class="col-xs-12  col-md-3"><a href="#">Explorar</a></li>
				<li role="presentation" class="col-xs-12  col-md-3"><a href="#">Eventos</a></li>
				<li role="presentation" class="col-xs-12  col-md-3"><a href="#">Grupos</a></li>
				</ul>
		</div>
	</div>
</div>
